<div>
  <h1>
    Essential select
  </h1>

  <div style="margin-right: 30px">

    <div class="flex-container">
      <div class="flex-item">
        <h3>
          Simple
        </h3>
        Simple selected string from array with starts value: <b>{{ simpleSelect }}</b>
        <essentials-ui-select [options]="selectOptions2"
                              [(value)]="simpleSelect"
                              [placeholder]="'Click me'"
                              [invalidText]="'Hurray, pick somethin...'">
        </essentials-ui-select>
      </div>

      <div class="flex-item">
        <h3>
          Search option by displayed name
        </h3>
        Simple selected string from array with starts value: <b>{{ esWithSearch }}</b>
        <essentials-ui-select [options]="selectOptions2"
                              [(value)]="esWithSearch"
                              [hasSearchInput]="true"
                              [placeholder]="'Click me'"
                              [invalidText]="'Hurray, pick somethin...'">
        </essentials-ui-select>
      </div>

      <div class="flex-item">
        <h3>
          Overflowed text in input will be automatically truncated
        </h3>
        Select long option
        <b style="word-break: break-all">
          {{esLong}}
        </b>
        <!--<b>{{ esLong }}</b>-->
        <essentials-ui-select [options]="seletOptionsLong"
                              [(value)]="esLong"
                              [hasSearchInput]="true"
                              [placeholder]="'Click me'"
                              [invalidText]="'Hurray, pick somethin...'">
        </essentials-ui-select>
      </div>
    </div>

    <div class="flex-container">
      <div class="flex-item">
        <h3>
          Dropdown width
        </h3>
        Strategy to determine dropdown swapper width: <b>{{ wrapperType }}</b>
        <essentials-ui-select [options]="wrapperTypes"
                              [(value)]="wrapperType"
                              [fieldName]="'name'"
                              [fieldValue]="'value'"
                              [bindObject]="false"
                              [wrapType]="wrapperType"
                              [placeholder]="'Click me'"
                              [hasSearchInput]="false"
                              [invalidText]="'Hurray, pick somethin...'">
        </essentials-ui-select>

        <!--<markdown [data]="codeDropdownWidth"></markdown>-->
        <pre>
          <code class="language-html" data-lang="html">
            {{codeDropdownWidth}}
          </code>
        </pre>

        <br>

        <ul>
          <li>
            <button (click)="setWrapperAuto()" class="btn btn-default">
              Set Auto
            </button>
          </li>
          <li>
            <button (click)="setWrapperMatchContent()" class="btn btn-default">
              Set MatchContent
            </button>
          </li>
          <li>
            <button (click)="setWrapperMatchForm()" class="btn btn-default">
              Set Match Form
            </button>
          </li>
        </ul>
      </div>

      <div class="flex-item">
        <h3>
          NEW
        </h3>

      </div>

      <div class="flex-item">
        <h3>
          NEW
        </h3>

      </div>

    </div>


  </div>
</div>
