<div>

  <div style="width: 30%">

    <div>
      <b>
        Form value:
      </b>
      <pre>{{ form.value | json }}</pre>
    </div>

    <div class="btn-group">
      <button class="btn btn-default" (click)="changeRequired()">
        Change required
      </button>

      <button class="btn" (click)="form.reset()" style="margin-left: 5px">
        Reset
      </button>
    </div>


    <div style="margin-top: 5px">
      <form #form="ngForm" id="form1" (submit)="doSubmit()" >
        <input [(ngModel)]="superValueVal" id="superValue" class="form-control" type="text" name="superValue" #superValue required>

        <essentials-ui-select
          #esSelects
          name="counter"
          ngModel
          [options]="selectOptions2"
          [required]="isRequired"
          [placeholder]="'Select something'"
        >
        </essentials-ui-select>

        <button class="btn btn-primary" type="submit">submit</button>

      </form>

    </div>

    <div>
      Is valid form: <b>{{form.valid}}</b>
    </div>
    <!--<br>-->
    <div>
      Is required select: <b>{{isRequired}}</b>
    </div>

    <pre>
          <code class="language-html" data-lang="html">
            {{esNgForm}}
          </code>
        </pre>

  </div>

</div>
