<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    Angular select component
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a [routerLink]="['/form']" class="nav-link">
          NgForm
        </a>
        <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
      </li>
      <li class="nav-item">
        <a [routerLink]="['/demo_all']" class="nav-link">
          Examples
        </a>
      </li>
      <li class="nav-item">
        <a href="https://github.com/NBakaev/angular-essential-select" class="nav-link" target="_blank">
          Github
        </a>
      </li>
      <li class="nav-item" *ngIf="!useBootstrap">
        <button (click)="useBootstrap = !useBootstrap" class="btn btn-default">
          Enable bootstrap
        </button>
        <!--<a [routerLink]="['/demo_all']" class="nav-link">-->
          <!--all-->
        <!--</a>-->
      </li>

      <!--<li class="nav-item">-->
        <!--<a class="nav-link disabled" href="#">Disabled</a>-->
      <!--</li>-->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a href="https://badge.fury.io/js/angular-essential-select"><img src="https://badge.fury.io/js/angular-essential-select.svg" alt="npm version" height="18"></a>
    </form>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>


<div *ngIf="useBootstrap">
  <app-bootstrap-integration></app-bootstrap-integration>
</div>
