<div #container>

  <!-- uncomment code below to debug component -->
  <!--<div>-->
    <!--limit: {{limit}} <br>-->
    <!--_searchBoxValue: {{_searchBoxValue}} <br>-->
  <!--</div>-->
  <!--<div>-->
  <!--1{{_isValidated}}-->
  <!--2 {{valid() }}-->
  <!--</div>-->

  <div (click)="changeOpen()">
    <form *ngIf="!hasSearchInput; else hasSearchInputSection">
      <!--  TODO: write test for check mark overflow-->
      <fieldset [disabled]="disabled" style="">
        <div class="form-control" [ngClass]="{ 'placeholder' : (haveNotValue(value) && haveNotValue(internalValue)), 'btn-disable' : isOpenEditable()  }" #notSearchContaner #inputSelectPlaceholder>

          <span *ngIf="useMultiSelect; else simplePrintValue">
              {{ (joinDefaultMultiSelect() | essentialSelectTruncate:this:_isOpen:_userHasInputTextToSearchBeforeSelect:_pipeNumber) || placeholder}}
          </span>

          <ng-template #simplePrintValue>
              {{ (printValue() || placeholder) | essentialSelectTruncate:this:_isOpen:_userHasInputTextToSearchBeforeSelect:_pipeNumber }}
          </ng-template>

          <div class="trigger">
            <span class="icon-open" *ngIf="isOpenEditable()"></span>
            <span class="icon-closed" *ngIf="!isOpenEditable()"></span>
          </div>
        </div>
      </fieldset>
    </form>

    <ng-template #hasSearchInputSection>
      <form #selectForm="ngForm">
        <input placeholder="{{placeholder | essentialSelectTruncate:this:_isOpen:_userHasInputTextToSearchBeforeSelect:_pipeNumber}}"
               class="form-control essential-form-control" name="input" autocomplete="off"
               #inputSelectPlaceholder
               [disabled]="disabled"
               [ngModel]="_searchBoxValue | essentialSelectTruncate:this:_isOpen:_userHasInputTextToSearchBeforeSelect:_pipeNumber"
               (ngModelChange)="onSearchInputChange($event)"
               [type]="searchInputType">
        <div class="trigger position-fix" *ngIf="_showOpenCloseIcon">
          <span class="icon-open" *ngIf="isOpenEditable()"></span>
          <span class="icon-closed" *ngIf="!isOpenEditable()"></span>
        </div>
      </form>
    </ng-template>
  </div>

  <!-- print all rows -->
  <div class="wrapper {{wrapperClasses}}" #wrapper>
    <div class="selectbox_dropdown" *ngIf="isOpenEditable()" #selectDropdown [style.width]="getDropdownWidth()">

      <div *ngIf="useMultiSelect" class="multiselect_tools">
          <ul>
            <li>
            <div (click)="selectAll()" align="center">
              {{selectAllText}}
            </div>
            </li>
            <li>
              <div (click)="unselectAll()" align="center">
                {{unselectAllText}}
              </div>
            </li>
          </ul>

        <div class="hr-after-multiselect">
          <hr>
        </div>
      </div>

      <ul style="margin-top: 0">
        <li *ngIf="!disableUnselected" (click)="onUserOptionSelected(null)" [ngClass]="{ 'selected': haveNotValue(value), 'btn-disable' : isOpenEditable() }" style="padding-top: 10px">
          {{notSelectedText}}
        </li>
        <li *ngFor="let option of options | essentialSelectFilter:_searchBoxValue:essentialsSelectFilter:useMultiSelect:this:_userHasInputTextToSearchBeforeSelect | slice: 0:optionsDisplayLimit"
            (click)="onUserOptionSelected(option)"
            [class]="getCssClasses(option)"
            [ngClass]="{ 'selected' : isSelected(option) }">

          <span *ngIf="enabledRowClasses()">
            <span class="{{printRowClasses(option)}}"></span>
          </span>

          {{ printItemValue(option) }}
          <small class="display-as-block" *ngFor="let note of printItemValueAdditionalNotes(option)">
            {{note}}
          </small>
        </li>
      </ul>
    </div>
  </div>

</div>

<div *ngIf="_isValidated && !valid()" class="invalid-field-container" [ngClass]="{'btn-disable' : isOpenEditable() }">
  <small class="b-hint b-hint-invalid"> !</small>
  <small class="form-invalid-color">
    {{ invalidText }}
  </small>
</div>

<!-- invisible container for length in pixels -->
<div #containerLength class="rule form-control">
  <span #contentLengthInner class="rule-span"></span>
</div>